<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wonderful.ishow">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme"
        >
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
<!--
                The OPENABLE category declares that the returned file is accessible from a content
                provider that supports OpenableColumns and ContentResolver.openFileDescriptor()
-->
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data
                    android:scheme="https"
                    android:host="github.com"
                    android:pathPrefix="/KAlO2/PerfectShow/"
                    />
            </intent-filter>
        </activity>
	
		<activity
            android:name=".app.MakeupActivity"
            android:screenOrientation="portrait">
            
            
        </activity>
    
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    
    </application>

</manifest>